*
{
  --timing-fade:0.5s;
  --timing-fade-2:1.5s;
  --timing-fade-3:4.5s;
}

@keyframes bob
{
	0%
	{
		margin-top:0;
	}
	100%
	{
		margin-top:-3vh;
	}
}
@keyframes slide-computer
{
    0% {
    margin-top:0;
  }
  100% {  
    margin-top:110px;
  }
}
@keyframes preslide-mobile
{
    0%
    {
        top:50%;
    }
    100%
    {
        top:33%;
    }
}
@keyframes slide-tablet
{
    0% {
    margin-left:0;
  }
  100% {
    margin-left:80px;
  }
}
@keyframes slide-mobile
{
  0% {
    margin-left:0;
  }
  100% {
    margin-left:-135px;
  }
}
@keyframes fade-in{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes fold-in{
  0%{
    left:0;
    perspective:200px;    
  }
  100%{
    left:5%;
    perspective:325px;
  }
}
@keyframes fade-in-up{
  0%{
    opacity:0;
    margin-top:0;
  }
  100%{
    opacity:1;
    margin-top:-30px;
  }
}
@keyframes fade-out{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
    display:none;
  }
}
@keyframes fold-in-right{
  0%{
    left:100%;
    perspective:200px;   
    perspective:30em; 
  }
  100%{
    left:83%;
    perspective:325px;
    perspective:15em;
  }
}
.fade-in-up.animated{
  animation: fade-in-up 1s forwards;
}
.tablet.animated{
  animation: bob 1s infinite, slide-tablet 0.5s, preslide-mobile 0.5s;  
  animation-delay: 0s, var(--timing-fade-2), var(--timing-fade);  
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.computercontainer.animated
{
  animation:slide-computer 0.5s;    
  animation-fill-mode: forwards;
    animation-delay:var(--timing-fade);
}
.computer.animated{
  animation: bob 1s infinite;
	animation-direction:alternate;
	animation-timing-function:ease-in-out;
}
.mobile.animated{
  animation: bob 1s infinite, slide-mobile 0.5s, preslide-mobile 0.5s;
  animation-delay: 0s, var(--timing-fade-2), var(--timing-fade);
  animation-fill-mode: forwards;
  animation-direction:alternate;
  animation-timing-function:ease-in-out;  
}
.scene.tablet.animated{
  animation: fade-in 1s forwards;  
}
.scene.desktop.animated{
  animation: fade-in 0.3s forwards, fold-in 0.3s forwards;
}
.scene.mobile.animated{
  animation: fade-in 0.5s forwards, fold-in-right 0.3s forwards;
}